/*
#tourItemList {
    -fx-font-size: 14px;
}
 */

#editButton {
    -fx-graphic: url('/com/glatzerkratzer/tourplanner/view/img/icons/edit.png');
}

#removeButton {
    -fx-graphic: url('/com/glatzerkratzer/tourplanner/view/img/icons/remove.png');
}

#addButton {
    -fx-graphic: url('/com/glatzerkratzer/tourplanner/view/img/icons/add.png');
}

/*
Button {
    -fx-pref-height: 30px;
    -fx-pref-width: 30px;
}
 */